.main-div {
    background-color:tomato;
    width:100%;
    display:flex;
    justify-content:flex-end;
    padding:1rem;   
    grid-column: 1/4;
    grid-row:1/1;
    text-decoration: none;
}
.link {
    
}