*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.app {
    background-color:turquoise;
    display:grid;
    grid-template-rows: auto 1fr auto;
    height:100vh;

}
.routes {
    grid-area: 2 / 1 / 3 / 2;
}
link {
    text-decoration: none;
}