*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.app {
    display:grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    min-height:100vh;
    
}
.routes {
    grid-column:1/4; 
    display: grid;
}

.footer {
    background-color: crimson;
    grid-column: 1/4;
    grid-row:3/4; 
    padding:1rem;
}